.home {
    color: white;
    font-weight: bold;
  }
.indexU{
  padding-top: 100px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.BotonAdd{
  padding-left: 300px;
}
.formulario{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  
}
.but{
  padding-left: 1000px;

}